/* Variáveis de cores */
:root {
    --black: #000;
    --white: #ddd;
    --green: #008000;
    --red: #ff0000;
    --brown: #692e0796;
    --brown_light: #815e46cb;
    --gray_dark: #4d4d4d;
    --gray: rgba(128, 128, 128, 0.85);
    --dark: #212121;
}

body{
    background: linear-gradient(to right,#385b80,#5183B7,#5183B7,#5183B7,#5183B7,#385b80);
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
}

#tabela {
    height: 100px;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.placares {
    border: 1px inset var(--black);
    width: 48%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;

}

.placaresCabecalho {
    border: 1px solid #000;
    width: 92.5%;
    background-color: var(--white);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
}

#placar1 {
    border: 5px solid var(--green);
    justify-content: center;
    background-color: #D9D9D9;
    color: black;
}

#placar2 {
    justify-content: center;
    background-color: #FFBD59;
    color: black;
}

/* Estilizando o tabuleiro */
#tabuleiro {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 640px;
    height: 640px;
    border: 20px solid black;
    margin: 10px;
    color: var(--black);
}

/* Estilizando as casas do tabuleiro */
.casa {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.preta {
    background-color: #5183B7;
}

.branca {
    background-color: #F5F5F5;
}

/* Estilizando as peças */
.peca {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.peca.vermelha {
    background-color: #FFBD59;
}

.peca.preta {
    background-color: #D9D9D9;
}

.peca.selecionada {
    border: solid var(--green) 5px;
}

.casa span.posicao {
    display: none;
}

/* MODO NOTURNO */
.night_mode {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-color: var(--gray);
    border-radius: 150px;
}

.night_mode .indicador {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white);
    transform: scale(.8);
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: .5s;
}

.night_mode.dark {
    background-color: var(--gray_dark);
}

.night_mode.dark .indicador {
    left: 50px;
    background-color: var(--black);
}

body.dark {
    background: linear-gradient(to right,#385b80,#37597e,#37597e,#37597e,#37597e,#385b80);
}

body.dark .casa.branca {
    background-color: black;
}

body.dark #tabuleiro{
    border: 20px solid rgb(214, 214, 214) !important;
}

#modal {
    display: none;
    position:fixed;
    height: 400px;
    width: 600px;
    background: rgb(255, 230, 0);
    border-radius: 10px;
    border: 2px solid #000;
    text-align: center;
}

#textoVencedor{
    margin-top: 150px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
}

#vencedor1 {
    display: none;
}

#vencedor2 {
    display: none;
}
