/* Variáveis de cores */
:root {
    --black: #000;
    --white: #ddd;
    --green: #008000;
    --red: #ff0000;
    --brown: rgba(105, 46, 7, 0.589);
    --gray: #4d4d4d;
    --trilho: rgba(128, 128, 128, 0.85);
    --dark: #212121;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

#tabela {
    height: 100px;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.placares {
    border: 1px inset var(--black);
    width: 48%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.placaresCabecalho {
    width: 100%;
    background-color: var(--white);
    font-weight: bold;
    text-align: center;
    padding: px;
}

#placar1 {
    border: 5px solid var(--green);
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
}

#placar2 {
    justify-content: center;
    background-color: var(--red);
    color: var(--white);
}

/* Estilizando o tabuleiro */
#tabuleiro {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 640px;
    height: 640px;
    border: 20px solid var(--brown);
    margin: 10px;
    color: var(--black);
}


/* Estilizando as casas do tabuleiro */
.casa {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.preta {
    background-color: #8B4513;
}

.branca {
    background-color: #F5F5F5;
}

/* Estilizando as peças */
.peca {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.peca.vermelha {
    background-color: var(--red);
}

.peca.preta {
    background-color: var(--black);
}

.peca.selecionada {
    border: solid var(--green) 5px;
}

.casa span.posicao {
    display: none;
}

/* MODO NOTURNO */
.night_mode {
    width: 100px;
    height: 50px;
    background-color: var(--trilho);
    border-radius: 150px;
    position: relative;
}

.night_mode .indicador {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white);
    transform: scale(.8);
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: .5s;
}

.night_mode.dark {
    background-color: var(--gray);
}

.night_mode.dark .indicador {
    left: 50px;
    background-color: var(--black);
}

body.dark {
    background-color: var(--dark);
}